/* ---------- Base + Theme Tokens ---------- */
:root{
  --bg: #F4F7FD;
  --surface: #FFFFFF;
  --elev: rgba(0,0,0,.06);
  --text: #111827;
  --muted: #828FA3;
  --muted-2: #A8B0C3;
  --line: #E4E7F0;




  --primary: #635FC7;
  --primary-pressed:#554fcc;
  --danger:#EA5555;
  --danger-pressed:#D14343;




  --todo:#49C4E5;
  --doing:#8471F2;
  --done:#67E2AE;




  --radius:14px;
  --radius-pill:999px;
}




html[data-theme="dark"]{
  --bg:#20212C;
  --surface:#2B2C37;
  --elev:rgba(0,0,0,.35);
  --text:#FFFFFF;
  --muted:#828FA3;
  --muted-2:#717A95;
  --line:#3E3F4E;




  --primary:#635FC7;
  --primary-pressed:#7773ff;
  --danger:#EA5555;
  --danger-pressed:#ff6a6a;
}


/* ---------- Reset ---------- */
*{ box-sizing: border-box; }
html,body{ height:100%; }
body{
  margin:0;
  font-family:'Plus Jakarta Sans',system-ui,Segoe UI,Roboto,Arial,sans-serif;
  color:var(--text);
  background:var(--bg);
}


/* ---------- Layout ---------- */
.app{
  display:flex; height:100%;
}


/* SIDEBAR */
.sidebar{
  width: 300px;
  min-width:300px;
  background:var(--surface);
  border-right:1px solid var(--line);
  display:flex; flex-direction:column; justify-content:space-between;
  transition: transform .3s ease;
}


.sidebar.hidden{ transform: translateX(-100%); }